@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
    
}

html, body {
    height:100vh;   
}

body{

    font-family: 'Fjalla One', sans-serif;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
   
}

.box{
    width:50rem;
    min-height:400px;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
    color:red;
    border:1px solid #000;
    margin-bottom:10px;
    display:flex;
    justify-content: center;
    align-items: center; 
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform:translateX(-400%);
}

.box.show{
    transform: translateX(0)
}
